<% @posts.each do |post| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, post_path(post.id), class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' }, 'data-toggle': 'tooltip', 'title': 'Delete' %>
      <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_post_path(post.id), class: 'btn btn-default', 'data-toggle': 'tooltip', 'title': 'Edit' %>
    </div>
    <div class="panel-body">
      <h2><%= link_to post.title, post_path(post.id), class: 'title' %><br>
        <span class="author"> by <%= post.author %></span></h2><br>
      <p class = 'content'>
        <%= post.content %>
      </p>
    </div>
  </div>
<% end %>
